.navbarContainer{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    height: 3em;
    background-color: rgba(243, 239, 239, 0.87);
    align-items: center;
    padding: 0em 5em 0em 5em;
}
nav {
    cursor: pointer;
}